hac
a.bf
exa.bf
src/lex.c
src/linecounter.lex
src/example.lex
bin/
src/*.o
*.output
.DS_Store
src/grammar.c
src/grammar.h
va.txt
e.txt
*.ll
*.out
codeExamples
temp/
*.dSYM/
*.o
bfi
*.js
bfide-bfi
expander
bfalgoConverter
*.exe
*.zip
